* {
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 50px;   
}

main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    border-radius: 10px;

}